.services {
  &__cards {
    display: grid;
    row-gap: 24px;
    padding-top: 48px;

    &--001,
    &--003,
    &--002,
    &--004 {
      @include hover(transform, scale(1.05));
    }
  }

  @include onTablet {
    @include pageGrid;

    &__content {
      grid-column: span 3;
    }

    &__cards {
      @include pageGrid;
      grid-column: span 6;
      row-gap: 30px;

      &--001,
      &--002,
      &--003,
      &--004 {
        grid-column: span 3;
      }

      &--002,
      &--004 {
        transform: translateY(-132px);

        &:hover {
          transform: translateY(-132px) scale(1.05);
        }
      }
    }
  }

  @include onSmallDesktop {
    &__content {
      grid-column: span 4;
    }

    &__cards {
      grid-column: 7 / -1;

      &--001,
      &--002,
      &--003,
      &--004 {
        grid-column: span 6;
      }
    }
  }
}
