.icon {
  height: 24px;
  width: 24px;
  background-size: contain;
  background-position: center;
  @include hover(transform, scale(1.15));

  &__menu {
    background-image: url(../images/icons/menu.svg);
  }

  &__close {
    background-image: url(../images/icons/close.svg);
  }
}
